{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'TuneifyProject/static/styles.css' %}">
</head>
<body class="home">
    <div class="homepage-content">
        <div class="header">
            <h1 class="title">Tuneify</h1>
        </div>
        <div class="description">
            <p>Discover Your Musical Kin</p>
        </div>
        <div class="buttons">
            <a href="{% url 'spotify_auth' %}" class="btn btn-primary">Authenticate with Spotify</a>

            <a href="{% url 'tuneify_profile' %}" class="btn btn-success">My Spotify Profile</a>
        </div>
    </div>
</body>
</html>
