{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">
</head>
<body>
    <div class="account-header">
        <div class="profile-pic" onclick="toggleProfileMenu()">
            <img src="{{ profile_picture_url }}" alt="Profile Picture">
            <span class="menu-text">Menu</span>
        </div> 
        <div class="menu-toggle">
            <ul class="menu-items">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'spotify_profile' %}">Profile</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </div>
        <h1>My Account</h1>
    </div>
    <div class="account-content">
        <p>Welcome, {{ user.username }}!</p>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <section class="account-details">
            <h2>Account Details</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </section>

        <section class="change-password">
            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ password_change_form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        </section>
    </div>

    <script>
        function toggleProfileMenu() {
            const menuItems = document.querySelector('.menu-items');
            menuItems.classList.toggle('active');
        }

        document.addEventListener('click', function(event) {
            const menuItems = document.querySelector('.menu-items');
            const profilePic = document.querySelector('.profile-pic');
            const clickedElement = event.target;

            if (!menuItems.contains(clickedElement) && !profilePic.contains(clickedElement)) {
                menuItems.classList.remove('active');
            }
        });
    </script>
</body>
</html>
