{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">
</head>
<body>
    <h1>My Account</h1>
    <p>Welcome, {{ user.username }}!</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Account Details</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_change_form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    <a href="{% url 'home' %}">Go back to the home page</a>
</body>
</html>

