{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Spotify Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body>
    <h1 class="welcome-message">Welcome to Your Tuneify Profile</h1>
    <div class="container">
        <p>Hello, {{ display_name }}!</p>
        <div class="button-container">
            <button id="obscurity-button">Obscurity</button>
            <button id="top-tracks-button">Top Tracks</button>
            <button id="top-artists-button">Top Artists</button>
            <button id="top-genres-button">Top Genres</button>
            <button id="recently-played-button">Recently Played</button>
            <button id="music-recommendations-button">Recommended Songs</button>
        </div>
        <div class="burger-menu">
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="menu-items">
                <li><a href="{% url 'spotify_profile' %}">Profile</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </div>
        <div class="section" id="recently-played-list">
        <h2>Recently Played Tracks</h2>
            <div class="song-list-container">
                <div class="scrollable-list">
                    <ul class="track-list">
                        {% for track in recently_played_tracks %}
                            <li class="track-item">
                                <div class="track-info">
                                    <strong>{{ track.track.name }}</strong>
                                    <span class="artist-name"> {{ track.track.artists.0.name }} </span>
                                </div>
                                <img src="{{ track.track_image_url }}" alt="Album Cover" class="album-cover">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Add a section to display top tracks -->
        <div class="section" id="top-tracks-section">
        <h2>Top 10 Tracks</h2>
        <ul class="track-list">
            {% for track in top_tracks %}
                <li class="track-item">
                    <div class="track-info">
                        <strong>{{ track.name }}</strong>
                        <span class="artist-name"> {{ track.artists.0.name }} </span>
                    </div>
                    <img src="{{ track.album_cover_url }}" alt="Album Cover" class="album-cover">
                </li>
            {% endfor %}
        </ul>
        </div>
        <div class="section" id="top-artists-section">      
        <h2>Top 10 Artists</h2>
        <ul class="track-list">
            {% for artist in top_artists %}
                <li class="track-item">
                    <div class="track-info">
                        <strong>{{ artist.name }}</strong>
                    </div>
                    <img src="{{ artist.artist_image_url }}" alt="Artist Image" class="album-cover">
                </li>
            {% endfor %}
        </ul>
        </div>
        
        <div class="section" id="music-recommendations-list">
        <h2>Recommended Songs</h2>
            <div class="song-list-container">
                <div class="scrollable-list">
                    <ul class="track-list">
                        {% for track in recommended_tracks %}
                            <li class="track-item">
                                <img src="{{ track.album_cover_url }}" alt="Album Cover" class="album-cover">
                                <div class="track-info">
                                    <strong>{{ track.name }} </strong>
                                    <span class="artist-name"> {{ track.artists.0.name }} </span>
                                </div>
                                <a href="{{ track.uri }}" target="_blank" rel="noopener noreferrer" class="spotify-link">Listen on Spotify</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <form method = 'post'>
                {% csrf_token %}
                <button type="submit" name="create-playlist" class="create-playlist-button">Create Playlist</button>
            </form>
        </div>
        <div class="section" id="top-genres-section">
            <h2>Top 10 Genres</h2>
            <ul class="track-list">
                {% for genre, count in top_genres %}
                    <li class="track-item">
                        <strong>
                            <span class="track-name">{{ genre }}</span>
                        </strong>
                    </li>  
                {% endfor %}
            </ul>
        </div>
        <div class="section" id="obscurity-section">
            <h2>Obscurity</h2>
            <p>Your overall obscurity score is {{ obscurity_scores.1 }}.
            </p>
            <h3>Your most obscure songs</h3>
            <ul>
                {% for score in obscurity_scores.0 %}
                <li>{{ score.track_name }} - Obscurity Score: {{ score.obscurity_score }}
                </li>
                {% endfor %}
            </ul>
        </div>
    <script>
        // Function to enable smooth scrolling on hover
        function enableSmoothScroll() {
            const songList = document.querySelector('.song-list-container');
            if (songList) {
                songList.classList.add('scrollable');
            }
        }
    
        // Function to disable smooth scrolling
        function disableSmoothScroll() {
            const songList = document.querySelector('.song-list-container');
            if (songList) {
                songList.classList.remove('scrollable');
            }
        }
    
        // Add event listeners for hover
        const songListContainer = document.querySelector('.song-list-container');
        if (songListContainer) {
            songListContainer.addEventListener('mouseenter', enableSmoothScroll);
            songListContainer.addEventListener('mouseleave', disableSmoothScroll);
        }

        // Function to toggle section visibility
        function toggleSection(sectionId) {
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => {
                section.style.display = 'none';  // Hide all sections
            });
    
            const selectedSection = document.getElementById(sectionId);
            if (selectedSection) {
                selectedSection.style.display = 'block';  // Show the selected section
            }
        }
    
        // Add event listeners for section buttons
        const recentlyPlayedButton = document.getElementById('recently-played-button');
        const topTracksButton = document.getElementById('top-tracks-button');
        const topArtistsButton = document.getElementById('top-artists-button');
        const topGenresButton = document.getElementById('top-genres-button');
        const musicRecommendationsButton = document.getElementById('music-recommendations-button');
        const obscurityButton = document.getElementById('obscurity-button');
        const menuToggle = document.querySelector('.menu-toggle');
        const menuItems = document.querySelector('.menu-items');

        menuToggle.addEventListener('click', () => {
            menuItems.classList.toggle('active');
        });
    
        recentlyPlayedButton.addEventListener('click', () => {
            toggleSection('recently-played-list');
        });
    
        topTracksButton.addEventListener('click', () => {
            toggleSection('top-tracks-section');
        });
    
        topArtistsButton.addEventListener('click', () => {
            toggleSection('top-artists-section');
        });

        topGenresButton.addEventListener('click', () => {
            toggleSection('top-genres-section');
        });

        musicRecommendationsButton.addEventListener('click', () => {
            toggleSection('music-recommendations-list');
        });

        obscurityButton.addEventListener('click', () => { 
            toggleSection('obscurity-section');
        });
    
        toggleSection('obscurity-section');

    </script>    
     
</body>
</html>
